.main_chat
  .main_chat__header
    .main_chat__header__left
      .main_chat__header__left__current-group
        %h2 aaa
      .main_chat__header__left__member
      .main_chat__header__left__member__M
        %ul Member :  megu
    .main_chat__header__right
      .main_chat__header__right__edit-btn
        = link_to "#", class: "main_chat__edit-btn" do
          Edit

  .main_chat__messages
    .main_chat__messages__first
      .main_chat__messages__first__name
        megu
      
      .main_chat__messages__first__text
        2020/03/12(Tue)17:27:46

    .main_chat__messages__data
      こんにちは！
    
  .form 
    %form.new_message
      .input-box
        %input{type: "text",class: "input-box__text",placeholder: "type a message"}
        %label{class: "input-box__image"}
          =icon('fa','image')
          %input{type: "file",class: "input-box__image__file"}
      %input{type: "submit", class: "submit-btn",value: "Send"}