.main-chat__messages
  .main-chat__messages__first
    = @message.user_id
    .main-chat__messages__first__text
      %p ssss 
  .main-chat__messages__data
    .main-chat__messages__data__p
      %p ddd